/**
 * Styling for rachellew.com
 * 
 * @author rlew
 * @since Dec 2014
 */

body {
  color: #7e7e7e;
}

.title {
  font-size: 4em;
  font-family: Calibri;
  float: left; 
  padding: .2em
}

.links {
  float: right;
  display: inline-block;
}

.icon {
  display: inline-block;
  line-height: 4em;
  vertical-align: middle;
  padding: 0 1em;
}

nav {
  clear: both;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.menuItem {
  display: inline-block;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}

.sectionTitle {
  font-size: 2em;
  padding: .5em 0 .25em .5em;
}
